body {
  background: rgba(255, 251, 251, 0);
}
p {
  color: #000000;
}


.nnennas-portifolio{
    display:flex;
    justify-content: center;
    font-style: italic;
}

.introduktion{
    display: flex;
    justify-content: center;
    font-style:initial;
}





.topnav {
  background-color: #8d1659;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: rgba(204, 107, 159, 0.68);
}


.topnav a.active {
  background-color: hsla(329, 66%, 45%, 0.716);
  color: white;
}